svg{
  max-width:700px;
  position:fixed;
  left:5px;
}
.birdcolor{
  fill:black;
}
#nerd{
  font-family:"Proxima Nova";
  font-weight:800;
  font-size:25px;
  fill: #F78F1E; 
  mix-blend-mode: difference;
}
#wronganswer, #correct, #hundred, #sixty, #thirty, #twentyfive, #growing, #bird{
  opacity:0;
}