.total-calendar {
    width: auto;
    overflow-x: auto;
    margin: 30px auto;
}

.calendar-sec {
    margin: auto;
    padding-top: 30px;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
    border: 1px solid white;
    text-align: center;
    background: orange;
    color: white;
    font-family: cursive;
}

td p {
    margin: 0;
}

.selector {
    text-align: center;
    position: relative;
    width: 320px;
    margin: auto;
}

.selector p.year-month {
    border: 2px solid orange;
    padding: 8px;
    color: orange;
    font-family: cursive;
    font-weight: bold;
    border-bottom: 0;
    margin: 0;
}

.selector .prev, .selector .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    border: 1px solid orange;
    border-radius: 4px;
    padding: 2px 10px;
    color: white;
    background: orange;
    cursor: pointer;
    font-family: cursive;
}

.selector .prev {
    left: 10px;
}

.selector .next {
    right: 10px;
}

.ttl {
    text-align: center;
    margin-top: 20px;
    font-family: cursive;
}